<% if (site.tags.length){ %>
  <div class="widget-wrap">
<<<<<<< HEAD
    <h3 class="widget-title"><%= __('tagcloud') %></h3>
=======
    <h3 class="widget-title">Tag Cloud</h3>
>>>>>>> devBlog/master
    <div class="widget tagcloud">
      <%- tagcloud() %>
    </div>
  </div>
<% } %>